@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  user-select: none;
}

.particles-background {
  position: absolute;
  z-index: -100;
}
