.md {
  user-select: text;
  margin-bottom: 8rem;
}

.md h1 {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: bolder;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.md h2 {
  font-size: 2rem;
  font-weight: bolder;
}

.md h3 {
  font-size: 1rem;
  font-weight: bolder;
}

.md p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.md ul li {
  padding: 0.5rem;
}

.md ul li::before {
  content: "\2022";
  padding: 0.5rem;
}

.md ol li {
  counter-increment: item;
  padding: 0.5rem;
}

.md ol li::before {
  content: counter(item) ".";
  padding: 0.5rem;
}

.md blockquote {
  border-left: 2px solid rgb(70, 70, 70);
  padding-left: 1rem;
}

.md a {
  text-decoration: underline;
  color: lightblue;
}

.md a:hover {
  color: rgb(117, 143, 151);
}

.md table {
  margin: 1rem;
}

.md table thead th {
  background-color: rgb(50, 50, 50);
}

.md table th,
.md table td {
  padding: 0.5rem;
  border: 1px solid rgb(85, 85, 85);
}

.md table tbody tr td:nth-child(1) {
  background-color: rgb(35, 35, 35);
}
