html {
    background-color: #000;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family: 'Denk One', Arial, Helvetica, sans-serif;
}

hr {
    margin: 10px;
}

@keyframes downanim {
    0% {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    50% {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    100% {
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

.downarrow {
    animation: downanim 1.5s infinite;
    font-size: 4rem;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
    z-index: 5;
}

.icon {
    width: 16rem;
    height: 16rem;
    padding: 3rem;
    font-size: 10rem;
}

a {
    color: white;
    text-decoration: none;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

#background {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#bgblur {
    z-index: 2;
    backdrop-filter: blur(100px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
}

.bgcircle {
    border-radius: 100%;
    transform: translate(0, 0, 0);
    transition-duration: 3000ms;
    position: fixed;
    opacity: 0.8;
    animation: linear 3000ms;
    z-index: 1;
}
