@import url("https://fonts.googleapis.com/css2?family=Denk+One");

html {
    background-color: #000;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family: 'Denk One', Arial, Helvetica, sans-serif;
}

@keyframes cursoranim {
    0% {
        background-color: lightgray;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lightgray;
    }
}

.cursor {
    padding: 1px;
    animation: cursoranim 1s infinite;
}

hr {
    margin: 10px;
}

@keyframes downanim {
    0% {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    50% {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    100% {
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

.downarrow {
    animation: downanim 1.5s infinite;
    font-size: 4rem;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
    z-index: 5;
    background-color: rgba(0, 0, 0, .5);
    
    background-image: repeating-linear-gradient(0deg, transparent, transparent 18px, transparent 18px, transparent 33px, #d1ca00 33px), repeating-linear-gradient(90deg, #d1ca00, #d1ca00 18px, transparent 18px, transparent 33px, #d1ca00 33px), repeating-linear-gradient(180deg, transparent, transparent 18px, transparent 18px, transparent 33px, transparent 33px), repeating-linear-gradient(270deg, #d1ca00, #d1ca00 18px, transparent 18px, transparent 33px, #d1ca00 33px);
    background-size: 3px calc(100% + 33px), calc(100% + 33px) 3px, 3px calc(100% + 33px) , calc(100% + 33px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1s infinite linear;

    padding: 30px;
}

@keyframes borderAnimation {
    from { background-position: 0 0, -33px 0, 100% -33px, 0 100%; }
    to { background-position: 0 -33px, 0 0, 100% 0, -33px 100%; }
}

.icon-link {
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: default;
}

.icon {
    width: 16rem;
    height: 16rem;
    padding: 3rem;
    font-size: 10rem;
    transition-duration: .2s;
    object-fit: contain;
}

.icon:hover {
    padding: 0rem;
    width: 22rem;
    height: 22rem;
}

.icon:active {
    padding: 6rem;
    width: 10rem;
    height: 10rem;
}

a {
    color: white;
    text-decoration: none;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

#background {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition-duration: 1s;
    /* transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28); */
}

#bgblur {
    z-index: 2;
    backdrop-filter: blur(8vw);
    /* filter: blur(8vw); */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
}

#fgblur {
    z-index: 50;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    pointer-events: none;
    transition-duration: .2s;
}

.bgcircle {
    border-radius: 100%;
    transform: translate(0, 0, 0);
    transition-duration: 3000ms;
    position: fixed;
    opacity: 0.8;
    animation:cubic-bezier(0.25, 0.46, 0.45, 0.94) 2000ms;
    z-index: 1;
}
